<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン画面</title>
	<link th:href="@{/css/user.css}" rel="stylesheet">
</head>

<body>
	<main class="login">
		<p class="login__title">ログイン画面</p>
		
		<div class="login__form">
			<div class="login__field">
				<label for="email" class="login__label">メールアドレス</label>
				<input type="email" id="email" name="email" class="login__input">
			</div>
			<div class="login__field">
				<label for="password" class="login__label">パスワード</label>
				<input type="password" id="password" name="password" class="login__input">
			</div>
			
			<div class="login__buttons">
				<a href="#" class="login__button login__button--login">Login</a>
				<a href="#" class="login__button login__button--register">新規登録</a>
			</div>
		</div>
	</main>
</body>
</html>