<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()}, ~{::head})}">

<head>
	<meta charset="UTF-8">
	<title>カート追加画面</title>
	<link th:href="@{/css/cart.css}" rel="stylesheet">
</head>

<body>
	<main class="cart-add">
		<p th:if="${message}" th:text="${message}" style="color: green;"></p>
		<p class="cart-add__title">カート追加画面</p>
		
		<div class="cart-add__container">
			
			<div class="cart-add__img">
				<img th:src="@{${product.imgPath}}" alt="商品画像">
			</div>
			
			<div class="cart-add__info">
				<p th:text="'商品名：' + ${product.productName}"></p>
				<p th:text="'個数：' + ${quantity}"></p>
				<p th:text="'カート内の合計：' + ${totalPrice}"></p>
			</div>
			
		</div>
		
		<div class="cart-add__buttons">
			<form th:action="@{/order/detail}" method="post">
				<input type="hidden" name="cartId" th:value="${cart.cartId}">
				<button type="submit" class="add-btn cart-add__buttons--left">レジに進む</button>
			</form>
			<a th:href="@{/cart/detail}" class="add-btn cart-add__buttons--center">カートに移動</a>
			<a th:href="@{/top}" class="add-btn cart-add__buttons--right">TOP画面に戻る</a>
		</div>
	</main>
</body>
</html>




















