<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()}, ~{::head})}">
<head>
	<meta charset="UTF-8">
	<title>Top画面</title>
	<link th:href="@{/css/top.css}" rel="stylesheet">
</head>

<body>
	<main>
		<div class="top-page">
			<p class="top-page__title">TOP画面</p>
			
			<div class="sale-section">
				<p class="sale-section__title">セール品</p>
				
				<div class="sale-section__list">
					<div class="sale-section__item" th:each="saleItem : ${saleItemList}">
						<a href="#">
							<img th:src="@{${saleItem.salesImgPath}}" th:alt="${saleItem.saleName}">
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>



























