<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()}, ~{::head})}">
<head>
	<meta charset="UTF-8">
	<title>Top画面</title>
	<link th:href="@{/css/top.css}" rel="stylesheet">
</head>

<body>
	<main>
		<div class="top-page">
			<p class="top-page__title">TOP画面</p>
			
			<div class="sale-section">
				<p class="sale-section__title">セール品</p>
				
				<div class="sale-section__list">
					<div class="sale-section__item">
						<a href="#">
							<img th:src="@{/images/sample1.png}" alt="セール商品1">
						</a>
					</div>
					
					<div class="sale-section__item">
						<a href="#">
							<img th:src="@{/images/sample2.png}" alt="セール商品2">
						</a>
					</div>
					
					<div class="sale-section__item">
						<a href="#">
							<img th:src="@{/images/sample3.png}" alt="セール商品3">
						</a>
					</div>
					
					<div class="sale-section__item">
						<a href="#">
							<img th:src="@{/images/sample4.png}" alt="セール商品4">
						</a>
					</div>
					
					<div class="sale-section__item">
						<a href="#">
							<img th:src="@{/images/sample5.png}" alt="セール商品5">
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>



























